/* allgemein */
body {background-color: black;
color: white;}


/* ------------------class -------------------------*/
.text_zentriert{text-align: center;}

.login_error{
  color: red;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}
.button{
  background-color: black;
  color: white;
  border: 2px solid #4CAF50; 
  padding: 14px 40px;
  border-radius: 5px;
  transition-duration: 0.25s;


}

.button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

.button_2{
  min-width: 150px;
  width: max-content;
  height: 40px;
  background-color: #824caf;
  color: white;
  border: 2px solid #824caf;
  border-radius: 5px;
  transition-duration: 0.25s;
  margin-bottom: 15px;
  margin-top: 15px;
}

.button_2:hover{
  background-color: black; /* Green */
  color: white;
}
  
.button_2_round{
  min-width: 120px;
  width: max-content;
  height: 30px;
  text-align: center;

  background-color: #824caf;
  color: white;
  border: 2px solid #824caf;
  border-radius: 50px;
  transition-duration: 0.25s;
  margin-bottom: 15px;
  margin-top: 15px;
}
.button_2_round:hover{
  background-color: black; /* Green */
  color: white;
}

/* faq */
.li{font-weight: bold;}



/*-------------------- link------------------------------*/
a:link{color: #2ecc71;}
a:hover{color: #824caf;}
a:visited{color: #2ecc71;}
a:active{color: #824caf
}


/* Bild */
img{border: 5px solid white;
    border-radius: 50px;}


/* reg. formular */
.input{

  grid-auto-rows: auto;
  grid-template-columns: 50%;

  text-align: center ;
  border: 3px #824caf solid ;

  outline: none;
  border-radius: 25px;
  transition-duration: 0.4s;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 0;
  padding: 0;
  width: 100px;
  transform: none;

}
.input:focus{
    width: 115px;
    border-color: #2ecc71;
}

.input-block{
  border: 3px #824caf solid ;
  text-align: center ;
  outline: none;
  border-radius: 25px;
  transition-duration: 0.4s;
  display: block;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;

}
.input-block:focus{
  width: 220px;
}

.input_wide{
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
}
.input_wide:focus{
  width: 330px;
}
.label_reg{
  display: grid;
  text-align: center;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}

.navbar_login{
  background-color: black;
  color: white;
  border: 2px solid #4CAF50;
  padding: 14px 40px;
  border-radius: 5px;
  transition-duration: 0.25s;
}
.navbar_login:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
.impressum_pic{
  border: 5px solid #824caf;
}
.impressum_pic_div{
  display: inline-block;
  width: 49%;
}
.impressum_pic_label{
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: larger;
}
.warnung{
  border-radius: 20px;
  text-align: center;
  width: 300px;
  border: 2px red solid;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  transition-duration: 0.4s;
}
.warnung:hover{
  background-color: #FF000080;
}



/*_________________________________________________- shop design ______________________________________________________*/

.mt-50{

  margin-top: 50px;
}

.mb-50{

  margin-bottom: 50px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #454545;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  color: black;

  border-radius: 20px;
}

.card-img-actions {
  position: relative;

}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

.card-lower{
  background-color: #4CAF50;
  border-radius: 20px;

}

.card-img{
  border-radius: 20px;
  width: 350px;
  height: 200px;
  transition: transform 500ms;
}
.card-img:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.schwarz{
  color: black;
}

.bg-cart {
  background-color: #824caf;
  border: 3px #824caf solid;
  color: white;
  font-size: larger;
}

.bg-cart:hover {
  transition-duration: 300ms;
  background-color: #4CAF50;
  border: 3px #824caf solid;
  color: white;

}

/************************************************POPUP***************************************************************/

.popup {
  display: none; /* Hide the pop-up by default */
  position: fixed; /* Position the pop-up */
  z-index: 9999; /* Set a high z-index to ensure it appears on top of other elements */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup-content {
  background-color: #fff;
  color: black;
  width: 300px;
  margin: 100px auto; /* Center the pop-up vertically and horizontally */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.ok-button {
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok-button:hover {
  background-color: #45a049;
}
.res_error{
  color: #ffffff;
  text-align: center;
  border: 2px solid red;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  width: max-content;
}
.res_error:hover{
  background-color: #FF000040;
}


.aussuch_btn{
  display: flex;
  width: max-content;
  padding: 20px;
  margin-bottom: 75px;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  border: #2ecc71 2px solid;
  border-radius: 20px;
}

/*_______________________________-sales anzeigen______________________*/

.my_tr{
  border: 2px solid #824caf60;
  border-bottom: 0;

}
.my_tr:hover {
  background-color: #824caf60;
}

.my_seconde_tr {
  border: 2px solid #824caf60;

}
.my_seconde_tr:hover{
  background-color: #824caf60;
}
.th{
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  text-align: center;

}



.input_mail{
  text-align: center ;
  border: 3px #824caf solid ;
  outline: none;
  border-radius: 25px;
  transition-duration: 0.4s;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  padding: 0;
  margin-left: 0;
  alignment: center;
  width: 100px;
  transform: none;
}
.input_mail:focus{

  width: 200px;
  border: 3px #2ecc71 solid ;
}
.right_border{
  border-right: #824caf60 2px solid;
}
.dropdown_filter{
  outline: none;
  color: white;
  border: 2px #824caf solid;
  background-color: #824caf;
  border-radius: 10px;
}
.dropdown_filter:hover{
  border: 2px #4CAF50 solid;
}
.dropdown_submit{
  color: white;
  border: 2px #824caf solid;
  background-color: #824caf;
  border-radius: 10px;
}
.dropdown_submit:hover{
  border: 2px #4CAF50 solid;
}
.dropdown_submit:active{
  background-color: #4CAF50;
}
.subtable{
  width: 90%;
  margin: 50px;
  border-color: #4CAF5080;
}
td{
  border-right: #824caf60 2px solid;
}
.subtable_td{
  border-color: #4CAF5080;

}
.subtable_td:hover{
  background-color: #4CAF5080;
}
.subtable_tr{
  border: 2px solid #4CAF5080;
}
.subtable_tr:hover{
  background-color: #4CAF5060;
}

.subtable-row{
  border-left: #824caf60 2px solid;
}
.product_pic{
  max-height: 200px;
  max-width: 300px;
}
.pic_td{
  max-height: 200px;
  max-width: 300px;
  margin: 0;
}

/*____________bestellung main__________-*/

.dropdown_btn{
  display: flex;
  width: min-content;
  padding: 20px;
  margin-bottom: 75px;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  border: #2ecc71 2px solid;
  border-radius: 20px;
}

/*_________________CHECKOUT______________________*/

.order-summary {
  width: 50%;
  margin: 20px 0;

}

.product {
  display: flex;
  justify-content: space-between;

  margin-left: 50%;
  transform: translate(50%, 0%);
  margin-bottom: 10px;
}

.product-name {
  text-align: right;
}
.gesamtpreis_label{
  display: inline-block;
  margin-right: 0;
}
.gesamtpreis{
  margin-left: 16.5%;
  display: inline-block;

}

/*____________________news beiträge__________________________________*/
.time_stamp{
  color: white;
  margin-left: 90%;
  background-color: #4CAF50;
  border: 2px solid #4CAF5060;
  border-radius: 20px;
  margin-bottom: 0;
}
.news_image{
  border-color: #824caf;
}
.news_title{
  width: max-content;
  margin-left: 50%;
  margin-top: 0;
  transform: translate(-50%, 0);
  border-bottom: 5px solid #824caf60;
}
.news_text{
  font-size: large;
  border: 5px solid #824caf60;
}

/*__________________________________upload_______________________________________________*/
.article_title_input{
  color: white;
  outline: none;
  background-color: #824caf;
  border: solid 3px #824caf;
  border-radius: 20px;
}
.article_title_input:focus{
  border: solid 3px #4CAF50;

}
.article_text_input{
  color: white;
  outline: none;
  background-color: #824caf;
  border: solid 3px #824caf;
  border-radius: 20px;
  width: 700px;
  height: 400px;
}
.article_text_input:focus{
  border: solid 3px #4CAF50;
}
.alert{
  width: 400px;
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
  transform: translate(-50%, -50%);
}

/*_____________________-account________________________________-*/
.account_label{
  margin-top: 20px;
  color: white;
  border-bottom: 2px #4CAF50 solid;
}
.label_value{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}