/* allgemein */
body {background-color: black;
color: white;}


/* ------------------class -------------------------*/
.text_zentriert{text-align: center;}

.login_error{
  color: red;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}
.button{
  background-color: black;
  color: white;
  border: 2px solid #4CAF50; 
  padding: 14px 40px;
  border-radius: 5px;
  transition-duration: 0.25s;


}

.button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

.button_2{
  background-color: #824caf;
  color: white;
  border: 2px solid #824caf;
  padding: 14px 40px;
  border-radius: 5px;
  transition-duration: 0.25s;


}

.button_2:hover{
  background-color: black; /* Green */
  color: white;
}
  



/* faq */
.li{font-weight: bold;}



/*-------------------- link------------------------------*/
a:link{color: #2ecc71;}
a:hover{color: #824caf;}
a:visited{color: #2ecc71;}
a:active{color: #824caf
}


/* Bild */
img{border: 5px solid white;
    border-radius: 50px;}


/* reg. formular */
.input{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 50%;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  text-align: center ;
  border: 3px #824caf solid ;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 25px;
  transition-duration: 0.4s;
}
.input:focus{
    width: 280px;
    border-color: #2ecc71;
}
.label_reg{
  display: grid;
  text-align: center;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}

.navbar_login{
  background-color: black;
  color: white;
  border: 2px solid #4CAF50;
  padding: 14px 40px;
  border-radius: 5px;
  transition-duration: 0.25s;
}
.navbar_login:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
.impressum_pic{
  border: 5px solid #824caf;
}
.impressum_pic_div{
  display: inline-block;
  width: 49%;
}
.impressum_pic_label{
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: larger;
}
.warnung{
  border-radius: 20px;
  text-align: center;
  width: 300px;
  border: 2px red solid;
  margin-bottom: 50px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  transition-duration: 0.4s;
}
.warnung:hover{
  background-color: #FF000080;
}



/*_________________________________________________- shop design ______________________________________________________*/

.mt-50{

  margin-top: 50px;
}

.mb-50{

  margin-bottom: 50px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1875rem;
}

.card-img-actions {
  position: relative;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center;
}

.card-img{
  width: 350px;
  height: 200px;
  transition: transform 500ms;
}
.card-img:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.star{
  color: red;
}

.bg-cart {
  background-color: #4CAF50;
  color:#fff;
}

.bg-cart:hover {
  transition-duration: 250ms;
  color: white;
  background: #824caf;
}

/************************************************POPUP***************************************************************/

.popup {
  display: none; /* Hide the pop-up by default */
  position: fixed; /* Position the pop-up */
  z-index: 9999; /* Set a high z-index to ensure it appears on top of other elements */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup-content {
  background-color: #fff;
  color: black;
  width: 300px;
  margin: 100px auto; /* Center the pop-up vertically and horizontally */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.ok-button {
  display: block;
  margin: 20px auto; /* Center the button horizontally */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok-button:hover {
  background-color: #45a049;
}



.aussuch_btn{
  display: flex;
  width: min-content;
  padding: 20px;
  margin-bottom: 75px;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  border: #2ecc71 2px solid;
  border-radius: 20px;
}



.my_tr{
  border: 2px solid #824caf60;
  border-bottom: 0;

}
.my_tr:hover {
  background-color: #824caf60;
}

.my_seconde_tr {
  border: 2px solid #824caf60;

}
.my_seconde_tr:hover{
  background-color: #824caf60;
}
.th{
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  text-align: center;

}

.button_2{
  margin: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}
.input{

  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 0;
  padding: 0;
  width: 100px;
  transform: none;
  alignment: center;
  border-color: #824caf;
}
.input:focus{
  width: 110px;
}
.input_mail{
  text-align: center ;
  border: 3px #824caf solid ;
  outline: none;
  border-radius: 25px;
  transition-duration: 0.4s;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  padding: 0;
  margin-left: 0;
  alignment: center;
  width: 100px;
  transform: none;
}
.input_mail:focus{

  width: 200px;
  border: 3px #2ecc71 solid ;
}
.right_border{
  border-right: #824caf60 2px solid;
}




